[Unit]
Description=IRC server capable of controlling Telegram
Documentation=https://github.com/MaskRay/telegramircd
After=network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/bin/telegramircd -c /etc/telegramircd/config

[Install]
WantedBy=multi-user.target
